@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  height: fit-content;
}

body {
  background: linear-gradient(
    205.23deg,
    #1680bf 0%,
    #1e5c9b 32.63%,
    #1a4484 100%
  );
  min-height: 100vh !important;
  min-width: 100vw !important;
  background-repeat: no-repeat;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.sidelined-image-container {
  @media (max-width: 1000px) {
    display: none;
  }
  .sidelined-image {
    position: absolute;
    top: 0;
    right: 0px;
    height: 95%;
    z-index: 3;
  }
}
