.HeaderContainer {
  // position: absolute;
  // width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    270.02deg,
    #1680bf -3.03%,
    #1e5c9b 51.4%,
    #1a4484 103.69%
  );

  .DesktopContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      display: none;
    }
    .LinksContainer {
      flex: 0.37;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
    .AuthLinkContainer {
      display: flex;
      flex: 0.19;
      align-items: center;
      justify-content: space-between;
    }
  }
  .MobileContainer {
    @media (min-width: 1201px) {
      display: none;
    }
  }
}

.LinkText {
  font-weight: 600;
  letter-spacing: 0.04rem;
  color: #fff;
  transition: all 0.1s ease;
  padding: 5px 10px;
  border-radius: 10px;
  @media (max-width: 1400px) {
    // padding-left: 0;
  }
  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: #1680bf;
  }
}

.AuthLinkBgButton {
  padding: 10px 19px;
  background-color: #1a4484;
  @media (max-width: 1200px) {
    background-color: #2b6ccd;
  }
  &:hover {
    cursor: pointer;
    background-color: #2a63b9;
  }
}

.NavItemContainer {
  margin-top: 19px;
}

.AuthMobileContainer {
  padding-bottom: 10px;
  padding-left: 0px !important;
}
